  <!--== USER INFO ==-->
<div class="sb2-12">
    <ul>
        <li>
            <img src="/images/placeholder.jpg" alt="">
        </li>
        <li>
            @if (Session["loginuserdata"] != null)
            {
                var userName = ((eera_model.User)Session["loginuserdata"]).Name;
                <h5> @userName @*<span> Santa Ana, CA</span>*@</h5>
            }
        </li>
        <li></li>
    </ul>
</div>
<!--== LEFT MENU ==-->
<div class="sb2-13">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <a href="~/Admin/" class="menu-active"><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
            <div class="collapsible-body left-sub-menu">
                <ul>
                    <li>
                        <a href="admin-user-all.html">All Users</a>
                    </li>
                    <li>
                        <a href="admin-user-add.html">Add New user</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i>Categories</a>
            <div class="collapsible-body left-sub-menu">
                <ul>
                    <li>
                        <a href="~/Category/">All Categories</a>
                    </li>
                    <li>
                        <a href="~/Category/NewCategory">Add New Category</a>
                    </li>                   
                </ul>
            </div>
        </li>
        <li>
            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i>Sub Courses</a>
            <div class="collapsible-body left-sub-menu">
                <ul>
                    <li>
                        <a href="~/Course/">All Subcategories</a>
                    </li>
                    <li>
                        <a href="~/Course/NewCourse">Add New Subcategory</a>
                    </li>
                </ul>
            </div>
        </li>

        <li>
            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-book" aria-hidden="true"></i>Courses</a>
            <div class="collapsible-body left-sub-menu">
                <ul>
                    <li>
                        <a href="~/Course/">All Courses</a>
                    </li>
                    <li>
                        <a href="~/Course/NewCourse">Add New Course</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-university" aria-hidden="true"></i>Institutes</a>
            <div class="collapsible-body left-sub-menu">
                <ul>
                    <li>
                        <a href="~/Institute/AllInstitute">All Institutes</a>
                    </li>
                    <li>
                        <a href="~/Institute/NewInstitute">Add New Institute</a>
                    </li>
                </ul>
            </div>
        </li>


        <li>
            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-hospital-o" aria-hidden="true"></i>Hostels</a>
            <div class="collapsible-body left-sub-menu">
                <ul>
                    <li>
                        <a href="~/Hostel/AllHostel">All Hostels</a>
                    </li>
                    <li>
                        <a href="~/Hostel/NewHostel">Add New Hostel</a>
                    </li>
                </ul>
            </div>
        </li>

        <li>
            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Tests </a>
            <div class="collapsible-body left-sub-menu">
                <ul>
                    <li>
                        <a href="~/Online Test/Alltests">All Tests</a>
                    </li>
                    <li>
                        <a href="~/Online Test/Newtest">Create Test</a>
                    </li>
                </ul>
            </div>
        </li>

        <li>
            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-commenting-o" aria-hidden="true"></i> Enquiry</a>
            <div class="collapsible-body left-sub-menu">
                <ul>
                    <li><a href="~/Enquiry/UserEnquiry">User Enquiry</a></li>
                    <li><a href="~/Enquiry/PartnerEnquiry">Partner Enquiry</a></li>

                </ul>
            </div>
        </li>
        <li>
            <a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-cloud-download" aria-hidden="true"></i> Import & Export</a>
            <div class="collapsible-body left-sub-menu">
                <ul>
                    <li>
                        <a href="admin-export-data.html">Export all datas</a>
                    </li>
                    <li>
                        <a href="admin-import-data.html">Import all datas</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>