
<section>
    <div class="ed-mob-menu">
        <div class="ed-mob-menu-con">
            <div class="ed-mm-left">
                <div class="wed-logo">
                    <a href="~/Home/">
                        <img src="images/logo.png" alt="" style="height:50px; width: 100px" />
                    </a>
                </div>
            </div>
            <div class="ed-mm-right">
                <div class="ed-mm-menu">
                    <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                    <div class="ed-mm-inn">
                        <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                        <h4>Menu</h4>
                        <ul>
                            <li>
                                <a href="~/Home/">Home</a>
                            </li>
                            <li>
                                <a href="~/Home/AboutUs">About Us</a>
                            </li>
                            <li>
                                <a href="~/Home/Courses">Courses</a>
                            </li>
                            <li>
                                <a href="~/Home/Institutes">Institutes</a>
                            </li>
                            <li>
                                <a href="~/Home/Hostels">Hostels</a>
                            </li>
                            <li>
                                <a href="~/Home/Tests">Tests</a>
                            </li>
                            <li>
                                <a href="~/Home/Enquiry">Enquiry</a>
                            </li>
                            <li>
                                <a href="~/Home/ContactUs">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
