<section class="pop-cour">
    <div class="container com-sp pad-bot-0">
        <div class="row">
            <div class="row">
                <div class="con-title" style="text-align:left; margin:20px;">
                    <h2>Institutes</h2>
                </div>
            </div>
            <div id="myInstitute" class="carousel slide" data-ride="carousel" data-interval="false" style="height:320px;">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item slider1 active">
                        <div class="ed-course">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="about.html">
                                        <img src="~/images/h-about.jpg" alt="">
                                        <span>Academics</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="admission.html">
                                        <img src="~/images/h-adm1.jpg" alt="">
                                        <span>Admission</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="dashboard.html">
                                        <img src="~/images/h-cam.jpg" alt="">
                                        <span>Students profile</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="research.html">
                                        <img src="~/images/h-res.jpg" alt="">
                                        <span>Research & Education</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="all-courses.html">
                                        <img src="~/images/h-about1.jpg" alt="">
                                        <span>Couse</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="db-time-line.html">
                                        <img src="~/images/h-adm.jpg" alt="">
                                        <span>Exam Time Line</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="seminar.html">
                                        <img src="~/images/h-cam1.jpg" alt="">
                                        <span>Seminar 2018</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="events.html">
                                        <img src="~/images/h-res1.jpg" alt="">
                                        <span>Research & Education</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ed-course">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="about.html">
                                        <img src="~/images/h-about.jpg" alt="">
                                        <span>Academics</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="admission.html">
                                        <img src="~/images/h-adm1.jpg" alt="">
                                        <span>Admission</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="dashboard.html">
                                        <img src="~/images/h-cam.jpg" alt="">
                                        <span>Students profile</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="research.html">
                                        <img src="~/images/h-res.jpg" alt="">
                                        <span>Research & Education</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="all-courses.html">
                                        <img src="~/images/h-about1.jpg" alt="">
                                        <span>Couse</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="db-time-line.html">
                                        <img src="~/images/h-adm.jpg" alt="">
                                        <span>Exam Time Line</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="seminar.html">
                                        <img src="~/images/h-cam1.jpg" alt="">
                                        <span>Seminar 2018</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="events.html">
                                        <img src="~/images/h-res1.jpg" alt="">
                                        <span>Research & Education</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ed-course">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="about.html">
                                        <img src="~/images/h-about.jpg" alt="">
                                        <span>Academics</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="admission.html">
                                        <img src="~/images/h-adm1.jpg" alt="">
                                        <span>Admission</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="dashboard.html">
                                        <img src="~/images/h-cam.jpg" alt="">
                                        <span>Students profile</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="research.html">
                                        <img src="~/images/h-res.jpg" alt="">
                                        <span>Research & Education</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="all-courses.html">
                                        <img src="~/images/h-about1.jpg" alt="">
                                        <span>Couse</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="db-time-line.html">
                                        <img src="~/images/h-adm.jpg" alt="">
                                        <span>Exam Time Line</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="seminar.html">
                                        <img src="~/images/h-cam1.jpg" alt="">
                                        <span>Seminar 2018</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="ed-course-in">
                                    <a class="course-overlay" href="events.html">
                                        <img src="~/images/h-res1.jpg" alt="">
                                        <span>Research & Education</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myInstitute" data-slide="prev">
                    <i class="fa fa-chevron-left slider-arr"></i>
                </a>
                <a class="right carousel-control" style="padding-right:5%" href="#myInstitute" data-slide="next">
                    <i class="fa fa-chevron-right slider-arr"></i>
                </a>
            </div>
            <div class="pg-eve-reg" style="margin-top:20px">
                <a href="event-register.html">Browser All Institutes</a>
            </div>
        </div>
    </div>
    <br />
</section>


