
<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slider1 active">
                <img src="images/slider/1.jpg" alt="">
                <div class="carousel-caption slider-con">
                    <h2>Enrich your <span>Technical </span> skills</h2>
                    <p>There are many variations of trending courses to deal with and enhance the career</p>
                    <a href="#" class="bann-btn-1">All Courses</a>
                </div>
            </div>
            <div class="item">
                <img src="images/slider/2.jpg" alt="">
                <div class="carousel-caption slider-con">
                    <h2>Fing an <span>Institute</span> around you</h2>
                    <p>Institutes that offer latest courses online and offline</p>
                    <a href="#" class="bann-btn-1">Get Institutes</a>
                </div>
            </div>
            <div class="item">
                <img src="images/slider/3.jpg" alt="">
                <div class="carousel-caption slider-con">
                    <h2>Hostels<span> & </span>PGs</h2>
                    <p>Looking for Shared Rooms, Full Houses and Private Rooms? Save more when you rent with us</p>
                    <a href="#" class="bann-btn-1">All Courses</a>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <i class="fa fa-chevron-left slider-arr"></i>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <i class="fa fa-chevron-right slider-arr"></i>
          </a>  -->
    </div>
</section>
