
<section class="pop-cour">
    <div class="container com-sp pad-bot-0">
        <div class="row">
            <div class="row">
                <div class="con-title" style="text-align:left; margin:20px;">
                    <h2>Popular <span>Courses</span></h2>
                </div>
            </div>
            <div id="popularCourses" class="carousel slide" data-interval="false" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item slider1 active">
                        <div class="col-md-4">
                            <div class="ho-ev-latest ho-ev-latest-bg-1" style="background: url(images/ev-bg1.jpg) no-repeat;">
                                <div class="ho-lat-ev">
                                    <h4>Upcoming Event</h4>
                                    <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ho-ev-latest ho-ev-latest-bg-1" style="background: url(images/ev-bg1.jpg) no-repeat;">
                                <div class="ho-lat-ev">
                                    <h4>Upcoming Event</h4>
                                    <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ho-ev-latest ho-ev-latest-bg-1" style="background: url(images/ev-bg1.jpg) no-repeat;">
                                <div class="ho-lat-ev">
                                    <h4>Upcoming Event</h4>
                                    <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ho-ev-latest ho-ev-latest-bg-1" style="background: url(images/ev-bg1.jpg) no-repeat;">
                                <div class="ho-lat-ev">
                                    <h4>Upcoming Event</h4>
                                    <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="col-md-4">
                            <div class="ho-ev-latest ho-ev-latest-bg-1" style="background: url(images/ev-bg1.jpg) no-repeat;">
                                <div class="ho-lat-ev">
                                    <h4>Upcoming Event</h4>
                                    <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ho-ev-latest ho-ev-latest-bg-1" style="background: url(images/ev-bg1.jpg) no-repeat;">
                                <div class="ho-lat-ev">
                                    <h4>Upcoming Event</h4>
                                    <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ho-ev-latest ho-ev-latest-bg-1" style="background: url(images/ev-bg1.jpg) no-repeat;">
                                <div class="ho-lat-ev">
                                    <h4>Upcoming Event</h4>
                                    <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ho-ev-latest ho-ev-latest-bg-1" style="background: url(images/ev-bg1.jpg) no-repeat;">
                                <div class="ho-lat-ev">
                                    <h4>Upcoming Event</h4>
                                    <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="col-md-4">
                            <div class="ho-ev-latest ho-ev-latest-bg-1" style="background: url(images/ev-bg1.jpg) no-repeat;">
                                <div class="ho-lat-ev">
                                    <h4>Upcoming Event</h4>
                                    <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ho-ev-latest ho-ev-latest-bg-1" style="background: url(images/ev-bg1.jpg) no-repeat;">
                                <div class="ho-lat-ev">
                                    <h4>Upcoming Event</h4>
                                    <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ho-ev-latest ho-ev-latest-bg-1" style="background: url(images/ev-bg1.jpg) no-repeat;">
                                <div class="ho-lat-ev">
                                    <h4>Upcoming Event</h4>
                                    <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ho-ev-latest ho-ev-latest-bg-1" style="background: url(images/ev-bg1.jpg) no-repeat;">
                                <div class="ho-lat-ev">
                                    <h4>Upcoming Event</h4>
                                    <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#popularCourses" data-slide="prev">
                    <i class="fa fa-chevron-left slider-arr"></i>
                </a>
                <a class="right carousel-control" style="padding-right:5%" href="#popularCourses" data-slide="next">
                    <i class="fa fa-chevron-right slider-arr"></i>
                </a>
            </div>
            <div class="pg-eve-reg">
                <a href="event-register.html">Browser All Courses</a>
            </div>
        </div>
    </div>
    <br />
</section>

